/* CSS Variables */
:root {
  /* color */
  --clr-primary-dark: hsl(0, 36%, 70%);
  --clr-primary-soft: hsl(0, 93%, 68%);

  --clr-neutral-dark: hsl(0, 6%, 24%);

  --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  /* font */
  --fs-medium: 1rem;

  --ff-body: "Josefin Sans", sans-serif;
  --fw-regular: 300;
  --fw-medium: 400;
  --fw-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-body);
  margin: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}

.left {
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: cover;
  background-position: center center;
  width: 60%;
  padding: 0 0 0 12.5rem;
}

.inner-container {
  max-width: 450px;
}

.right {
  width: 40%;
}

.bg-image {
  background-image: url("../images/hero-desktop.jpg");
  background-size: cover;
  background-position: center center;
}

.logo {
  margin: 3.75rem 0;
  width: 12.5rem;
}

.bg-mobile {
  display: none;
}

h1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  letter-spacing: 1rem;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-dark);
  margin-bottom: 0.313rem;
}

h1 span {
  color: var(--clr-primary-dark);
  font-weight: var(--fw-regular);
}

p {
  color: var(--clr-primary-dark);
  line-height: 1.4;
  margin-bottom: 1.875rem;
}

form {
  position: relative;
}

input {
  background-color: transparent;
  border: 1px solid hsl(0, 20%, 80%);
  border-radius: 50px;
  font-family: var(--ff-body);
  font-size: var(--fs-medium);
  padding: 0.938rem 1.875rem;
  width: 100%;
  height: 3.438rem;
}

input:focus {
  outline: none;
  box-shadow: 2px 20px 10px hsla(0, 35%, 90%, 0.5);
}

form.error input {
  border: 2px solid var(--clr-primary-soft);
}

input[type="email"]::placeholder {
  color: hsl(0, 20%, 80%);
  font-weight: var(--fw-regular);
}

button {
  background-image: var(--gradient-2);
  box-shadow: 2px 20px 10px hsla(0, 35%, 90%, 0.5);
  border: none;
  border-radius: 50px;
  padding: 0.938rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 6.25rem;
  height: 3.438rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.error-icon {
  display: none;
  position: absolute;
  top: 0.938rem;
  right: 7.5rem;
}

form.error .error-icon {
  display: block;
}

small {
  display: none;
  margin-top: 0.938rem;
  margin-left: 1.875rem;
  color: var(--clr-primary-soft);
}

form.error small {
  display: block;
}

/* Mobile View */

@media screen and (max-width: 700px) {
  .left {
    width: 100%;
    padding: 0 0 0 6.25rem;
  }

  .right {
    display: none;
  }

  .bg-mobile {
    display: block;
    margin-left: -23%;
    width: calc(100% + 100px);
  }

  .logo {
    margin: 1.875rem 0;
    width: 7.5rem;
  }

  h1 {
    font-size: 45px;
  }

  .inner-container {
    max-width: 350px;
    text-align: center;
    margin: 4.375rem 0 6.25rem 0;
  }

  button {
    width: 4.375rem;
  }
}
